.footer{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(39,78,85,1) 100%);
}

.color-enlace{
    color: white;
}
.jumbotron{
    background-image: url("../img/ocean.jpg");
    background-size: cover;
    color: white;

}
hr{
    background-color: white;
}